.body {
  font-family: var(--font);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 130px;
  background-image: url(../public/Image/background-amfi.png);
}

  .headerTitle {
    padding-left: 2rem;
    color: var(--third-color);
    align-items: center;
  }

  .toDoList {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  .toDoListTitle {
    align-items: center;
    font-size: var(--font-m);
    font-weight: var(--bold);
  }
  
  .toDoListIcon {
    margin-right: .5rem;
    align-items: center;
  }

.toDoListItem {
  border: 1.5px solid var(--second-color);
  border-radius: .5rem;
  padding: 1rem;
  margin-right: 2rem;
  font-size: var(--font-m);
  font-weight: var(--light);

}

.toDoListRadio {
  margin-right: .5rem;
}

.toDoListRadioChecked:checked {
  background-color: var(--main-color);
}

.addTaskButton {
  height: 2rem;
  width: 10rem;
  color: var(--third-color);
  border: 1.5px solid var(--third-color);
  background-color: var(--main-color);
  border-radius: .4rem;
  font-size: var(--font-s);
  font-weight: var(--light);
  letter-spacing: 1.5px;
  margin-top: .5rem;
  margin-right: 2rem;
}

.delTaskButton {
  height: 2rem;
  width: 10rem;
  color: var(--main-color);
  border: 1.5px solid var(--main-color);
  background-color: var(--third-color);
  border-radius: .4rem;
  font-size: var(--font-s);
  font-weight: var(--light);
  letter-spacing: 1.5px;
  margin-top: .5rem;
  margin-right: 2rem;
}