.header {
  display: flex;
  position: relative;
}

  .headerImg {
    position: relative;
  }

  .headerTitle {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    text-align: center;
    z-index: 1;
    color: #fff;
  }
